{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil du site{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1>Hello {{ controller_name }}! </h1>
    <p class="lead">Bienvenue sur la page d'acceuil</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>



    

    <h2> bienvenue</h2>

{% endblock %}